<h1>Admin::Dashboard#show</h1>
<div class="alert alert-info" role="alert">
  Product count: <%= @product_count %>
</div>

<div class="alert alert-info" role="alert">
  Category count: <%= @category_count %>
</div>